<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add book</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link th:href="@{/css/modern-business.css}" rel="stylesheet">
</head>
<body>
<nav th:replace="Fragments/Menus :: top-menu"></nav>
<div th:replace="Fragments/Menus :: side-menu"></div>
<!-- Page Content -->

<div class="container col-md-9">
    <div class="row">
        <div class="col-md-9">
            <h1 class="page-header">Dodaj książkę: </h1>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-9">
            <div class="panel-body">
                <div class="jumbotron text-center" th:if="${success==true}"> Książka została dodana! </div>
                <form th:if="${success!=true}" role="form" enctype="multipart/form-data" action="#" th:method="post" th:object="${newBookForm}">
                    <fieldset>
                        <div th:class="${#fields.hasErrors('title')?'form-group has-error':'form group'}">
                            <label for="title" class=control-label > Tytuł: </label>
                            <input class="form-control"  th:field="*{title}" placeholder="title" id="title" name="title" type="text" autofocus>
                            <small> <p class="text-danger text-right" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p></small>
                        </div>

                        <div th:class="${#fields.hasErrors('author')?'form-group has-error':'form group'}">
                            <label for="author" class=control-label > Autor: </label>
                            <input class="form-control" th:field="*{author}" placeholder="author" id="author" name="author" type="text" autofocus>
                            <small> <p class="text-danger text-right" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p></small>
                        </div>
                        <div th:class="${#fields.hasErrors('pages')?'form-group has-error':'form group'}">
                            <label for="pages" class="control-label" > Stron: </label>
                            <input class="form-control"  th:field="*{pages}" placeholder="pages" id="pages" name="pages" type="number" value="">
                        </div>
                        <label for="pages" class="control-label" > Kategoria: </label>
                        <select th:field="*{categoryId}" class="form-control">
                            <th:block th:each="category : ${categories}">
                            <option th:value="${category.categoryId}"> <span th:text="${category.categoryName}"></span></option>
                            </th:block>
                        </select>



                        <br/>
                        <div><input type="submit" class="btn btn-lg btn-success btn-block" value="Dodaj"></div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div><!-- /.row -->

</div><!-- /.container -->

<div class="container">

    <hr>

    <footer th:replace="Fragments/footer :: footer"> </footer>

</div><!-- /.container -->

<!-- JavaScript -->
<script th:src="@{js/jquery-1.10.2.js}"></script>
<script th:src="@{js/bootstrap.js}"></script>
<script th:src="@{js/modern-business.js}"></script>

</body>
</html>
