<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Your profile</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link th:href="@{css/modern-business.css}" rel="stylesheet">
</head>
<body>
<nav th:replace="Fragments/Menus :: top-menu"></nav>
<div th:replace="Fragments/Menus :: side-menu"></div>
<!-- Page Content -->

<div class="container col-md-9">
    <div class="row">
        <div class="col-md-9">
            <h1>Dane użytkownika</h1>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-9">
            <div class="panel-body">
                <div class="jumbotron text-center" th:if="${changed==true}"> Dane zmienione! </div>
                <h3 th:text = "${currentUser}"></h3>
                <form role="form" enctype="multipart/form-data" th:action="@{/profile}" th:method="post" th:object="${profileForm}">
                <div th:class="${#fields.hasErrors('name')?'form-group has-error':'form group'}">
                    <label for="name" class=control-label > Imię: </label>
                    <input class="form-control"  th:field="*{name}" placeholder="name" id="name" name="name" type="text" autofocus>
                    <small> <p class="text-danger text-right" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p></small>
                </div>

                <div th:class="${#fields.hasErrors('surname')?'form-group has-error':'form group'}">
                    <label for="surname" class=control-label > Nazwisko: </label>
                    <input class="form-control" th:field="*{surname}" placeholder="surname" id="surname" name="surname" type="text" autofocus>
                    <small> <p class="text-danger text-right" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p></small>
                </div>
                <div th:class="'form group'">
                    <label for="oldPassword" class=control-label > Hasło: </label>
                    <input class="form-control" placeholder="old password" th:field="*{oldPassword}" id="oldPassword" name="oldPassword" type="password" value="">
                    <small> <p class="text-danger text-right" th:if="${changed==false}" >Złe hasło!</p></small>
                </div>
                    <br/>
                <div><input type="submit" class="btn btn-lg btn-success btn-block" value="Zmień dane"></div>
            </form>
            </div>
        </div>

    </div><!-- /.row -->

</div><!-- /.container -->

<div class="container">

    <hr>

    <footer th:replace="Fragments/footer :: footer"> </footer>

</div><!-- /.container -->

<!-- JavaScript -->
<script th:src="@{/js/jquery-1.10.2.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/modern-business.js}"></script>

</body>
</html>
